<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div class="container">
<div class="row">
    <h2>Available Date Slots</h2>
    <form>
        <div class="form-group">
            <input class="form-check-input" type="radio" name="Date" id="Radios1" value="Date" Date>
            <label class="form-check-label for="Radios1" >
            {{Date}}
            </label>
            <input class="form-check-input" type="radio" name="Date" id="Radios2" value="Date" Date>
            <label class="form-check-label for="Radios2" >
            {{Date}}
            </label>
            <input class="form-check-input" type="radio" name="Date" id="Radios3" value="Date" Date>
            <label class="form-check-label for="Radios3" >
            {{Date}}
            </label>
        </div>
    </form>
</div>

</div>


</body>