<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm">
            Make Booking
        </div>
    </div>
    <div class="row">
        <div class="col">
            Licence Type
        </div>
        <form>
            <div class="form-group">
                <input class="form-check-input" type="radio" name="Learners Licence" id="Radios1" value="Leaners" Learnes Licence>
                <label class="form-check-label for=" Radios1" >
                Learners Licence
                </label>
                <input class="form-check-input" type="radio" name="Drivers Licence" id="Radios2" value="Drivers" Drivers Licence>
                <label class="form-check-label for="Radios2" >
                Drivers Licence
                </label>
            </div>
        </form>
        <div class="row">
            <div class="dropdown">
                <div class="dropdown-menu" aria-labelledby="Codes">
                    <a class="dropdown-item active" href="#">Code A1</a>
                    <a class="dropdown-item active" href="#">Code B</a>
                    <a class="dropdown-item active" href="#">Code C1</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="dropdown" aria-labelledby="Location">
                <a class="dropdown-item active" href="#">Ashton Traffic department</a>
                <a class="dropdown-item active" href="#">Atlantis Traffic department</a>
                <a class="dropdown-item active" href="#">Beaufort West Municipal Traffic department</a>
                <a class="dropdown-item active" href="#">Bellrail(Bellville) Traffic department</a>
                <a class="dropdown-item active" href="#">Brackenfell Traffic department</a>
                <a class="dropdown-item active" href="#">Bitou Municipal Traffic department</a>
                <a class="dropdown-item active" href="#">Cape Agulhas Municipal Traffic department</a>
                <a class="dropdown-item active" href="#">Drakenstein Municipal Traffic department</a>
            </div>
            <br>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary">Search</button>
            </div>

        </div>
</div>
</body>